
/*===================BEGIN PRODUCT - CATELOGY =======---------------*/
.vnt-product {
    background: #fff;
}
/*===================END PRODUCT - CATELOGY =======---------------*/

/*===================BEGIN sidebar-left =======---------------*/
#filter-price {margin-bottom: 20px;}
#filter-price .price-small-text {
    color: rgb(133, 133, 133);
    font-size: 13px;
    padding-bottom: 5px;
    margin-top: 4px;
}
#filter-price  .bf-content  .input-group {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
#filter-price  .bf-content  input {
    flex: 1 1 0%;
    width: 95px;
    height: 30px;
    padding: 0px 8px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    outline: 0px;
    font-size: 13px;
}
#filter-price .bf-content .input-group > span {
    width: 7px;
    height: 1px;
    font-size: 0px;
    display: inline-block;
    background: rgb(154, 154, 154);
    margin: 0px 4px;
    vertical-align: middle;
}
#filter-price .bf-content button {
    background:#2BBEF9;
    border: 1px solid #2BBEF9;
    font-size: 12px;
    color:#fff;
    padding: 5px 15px;
    width: 99px;
    margin-top: 8px;
    border-radius: 4px;
}
.sidebar-left{ background: #fff; }
.wrap-filter{padding-top: 20px;}
.box-filter .bf-title{
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
.box-filter .bf-content ul li .rating-md{ padding-left: 10px;padding-right: 10px; }
.box-filter .bf-content ul li a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 10px 5px 40px;
    position: relative;
    color: #374957;
}
.box-filter .bf-content ul li a:before{
    display: block;
    position: absolute;
    content: '';
    left: 10px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    top: 7px;
    border: 1px solid #cccccc;
    height: 16px;
    width: 16px;
    z-index: 5;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}
.box-filter .bf-content ul li a.active:before{
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
}
.box-filter .bf-content ul li a:after{
    top: 3px;
    left: 16px;
    width: 8px;
    height: 16px;
    border: 2px solid #009442;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 5;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;
    display: block;
    position: absolute;
    content: '';
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}
.box-filter .bf-content ul li a.active:after{
    opacity: 1;
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}
/*===================END sidebar-left =======---------------*/
 /*===================BEGIN sidebar-Right =======---------------*/
.filter-sort {
    float: left;
    font-size: 14px;
    line-height: 34px;
}
.wrapp_list_desc {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    background: #F0F0EF;
    padding: 10px 10px;
}.list-cat {
    padding-left: 25px;
    /* width: 100%; */
    /* margin: 0 auto; */
    overflow: hidden;
}
.list-cat li{list-style:none;display:inline-block;margin-right:10px}
.list-cat li a {font-size:12px;margin:0;color:#000;font-weight:400}
.list-cat li a :hover{color:#fff}
.hvr-shutter-out-horizontal{margin: 0px 15px;display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;color:#333;background-color:#fff;padding:5px 15px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s;border:1px solid #00a2ff;padding:10px}
.hvr-shutter-out-horizontal:hover{color:#fff !important ;border:1px solid #009cff;border-radius:4px}
.hvr-shutter-out-horizontal:focus{color:#fff}
.hvr-shutter-out-horizontal:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#009cff;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-shutter-out-horizontal:hover:before,.hvr-shutter-out-horizontal:focus:before,.hvr-shutter-out-horizontal:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);border:none;color:#fff}
/*===================END sidebar-Right =======---------------*/

@media screen and (max-width: 1024px) {
   .i-menber-home > .item {
    padding-left: 15px;
}
.i-menber-home ul li{width: 100%;}
.wrapp_list_desc {
    margin: 10px 0;
    overflow: hidden;
}
.wrapp_list_desc .list-cat {
    float: left;
    white-space: nowrap;
    overflow-x: auto;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 0;
    width: 100%;
    padding-left: 0px;
}
.hvr-shutter-out-horizontal{ margin: 0px 5px; }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 320px) {
}