
/*===================BEGIN PRODUCT - DETAIL =======---------------*/

.wap-product-top{ background: #fff; }
.info_right{padding-top: 30px;}

.has-table {
    padding: 0px 16px 16px;
    display: inline-block;
    color: rgb(36, 36, 36);
    line-height: 21px;
    text-align: justify;
    border-radius: 4px;
}
.has-table table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100% ;
}
.has-table table tr{
    line-height: 30px;
}
.product-detail
{
    background: #fff;
    margin-top: 25px;
    padding: 5px 15px 15px;

}

.product-detail-desc
{
    background: #fff;
    margin-top: 25px;
    padding: 5px 15px 15px;
}
.product-best-seller
{
    margin-top: 25px;
}
.product-best-seller h3{
    margin-top: 0px;
    margin-bottom: 15px;
}
.choose_color {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.wap-color:hover, .wap-color.active {
    border: 1px solid #2BBEF9;
}
.wap-color {
    cursor: pointer;
    margin: 8px 10px 0px 0px;
    padding: 2px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    width: 144px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #F0F0EF;
    outline: 0px;
    border-radius: 4px;
}
.wap-color .option-figure {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.wap-color .option-label {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    line-height: 16px;
    margin: 6px 8px;
}
.vnt-vendor{float: left;
    padding-right: 30px;}
.slider-detail {
    position: relative;
    max-width: 520px;
    margin: 0 auto;

}

#slider-detail .item{position:relative}

#slider-detail .item .img{}

#slider-detail .item .img img{max-height:100%;max-width:100%}

#slider-detail .slick-dots{margin-bottom:0;bottom:-20px;text-align:center;z-index:2000}

#slider-detail .slick-dots li{margin:0 6px;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:box-shadow .3s ease;-moz-transition:box-shadow .3s ease;-o-transition:box-shadow .3s ease;transition:box-shadow .3s ease;background:transparent;width:10px;height:10px}

#slider-detail .slick-dots li button{-webkit-transition:background-color .3s ease,-webkit-transform .3s ease;-moz-transition:background-color .3s ease,-webkit-transform .3s ease;-o-transition:background-color .3s ease,-webkit-transform .3s ease;transition:background-color .3s ease,transform .3s ease;top:0;left:0;width:100%;height:100%;outline:none;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;background-color:#fff;background-color:rgba(154,154,154,0.8);text-indent:-999em;cursor:pointer;position:absolute;transform:scale(0.8);-webkit-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);-moz-transform:scale(0.8)}

#slider-detail .slick-dots li:hover,#slider-detail .slick-dots li.slick-active{-moz-box-shadow:0 0 0 2px rgba(234,7,196);-webkit-box-shadow:0 0 0 2px #2196F3;-o-box-shadow:0 0 0 2px rgba(234,7,196);-ms-box-shadow:0 0 0 2px rgba(234,7,196);box-shadow:0 0 0 2px #2196F3;border:none;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;background:transparent}

#slider-detail .slick-dots li:hover button,#slider-detail .slick-dots li.slick-active button{transform:scale(0.4);-webkit-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);-moz-transform:scale(0.4);background-color:#ed1e8c}

#slider-detail .slick-dots li button:before{content:""}

#slider-thumbnail {

    /* width: 100%; */

    padding: 3px 30px;

}

#slider-thumbnail .slick-slide{border:none;margin:0 0 10px}

#slider-thumbnail .item {

    position: relative;

    /* background: #fff; */

    margin: 0 5px;

    overflow: hidden;

    float: left;

    height: 120px;

}

#slider-thumbnail .item img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#slider-thumbnail .item:after{top: 0;left: 0;border-radius:7px;position:absolute;content:'';border:1px solid #e3e3e3;width:100%;height:100%}

#slider-thumbnail .item.slick-current:after{border:1px solid #00a0ff}

#slider-thumbnail .slick-arrow{width:30px;height:30px}

#slider-thumbnail .slick-prev{left: 0;

    position: absolute;

    top: 50px;}

#slider-thumbnail .slick-next{right:0px;position: absolute;

    top: 50px;}

#slider-thumbnail .slick-arrow:after{position:absolute;top:50%;left:50%;font-family:fontawesome;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:30px;line-height:30px;padding:1px;color:#333}

#slider-thumbnail .slick-prev:after{content:'\f104'}

#slider-thumbnail .slick-next:after{content:'\f105'}

#slider-thumbnail .item .img.video_thumb .i-video{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:12px;color:#000;background:#fff;border-radius:50%;width:35px;height:35px}

#slider-thumbnail .item:hover .img.video_thumb .i-video i{cursor:pointer;transform:rotate(360deg);transition:all .3s}

#slider-thumbnail .item .img.video_thumb .i-video i{font-size:16px;transition:all .3s;padding:10px}


#slider-detail,
#slider-thumbnail {
   visibility: hidden;
   opacity: 0;  
   transition: opacity 0.1s;

}

#slider-detail.slick-initialized,

#slider-thumbnail.slick-initialized {
  visibility: visible;
  opacity: 1;
}
#slider-detail .item {

  display: none ;
}

#slider-detail .item:first-child {
  display: block; 
  visibility: hidden;
} 

#slider-detail.slick-initialized .item {

  display: block;

  visibility: visible!important;

}

.zoom-img {
    position: absolute;
    bottom: 113px;
    z-index: 2000;
    content: '';
    opacity: 1;
    right: 5px;
    color: #fff;
    opacity: .8;
    padding: 10px;
    background: #4db2ec;
    display: none;
}
.zoom-img a {
    color: #fff;
}
.zoom-img a i {
    padding-right: 10px;
}

.grid-info {
    color: #333;
    margin-bottom: 10px;
}
.grid-info .row-info {
    padding: 10px 0;
    line-height: 20px;
}

.grid-info .row-info .rowlef {
    float: left;
    padding-right: 20px;
    line-height: 40px;
}
.grid-info .row-info .rowright {
    color: #333;
}
.grid-info h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 15px;
    margin-top: 0;
}
.block-prices {
    position: relative;
    padding-top: 20px;
}
.block-prices .product-price {
    word-break: break-all;
    color: #D71010;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}
.product-old-price {
    display: inline-block;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}
.product-old-price .price-number {
    text-decoration: line-through;
    padding-right: 5px;
}
.text-percent {
    font-size: 14px;
    font-weight: 700;
}
.product-meta {
    font-size: 12px;
}
.pb-nine {
    padding-bottom: 6px;
}
.ratingresult {
    float: left;
    padding-right: 40px;
}
.ratingresult .wrap_star .Stars {
    display: inline-block;
}
.rating-md {
    display: inline-block;
    margin-left: -2px;
}
.product-meta a {
    color: #3567d7;
    padding-left: 5px;
}
.button-like {
    cursor: pointer;
    display: inline-block;
}
.width-box75 {
    display: inline-block;
}
.group-icon-fb {
    float: right;
    margin-top: 5px;
}
.choose-quantity {
    float: left;
    height: 38px;
    width: 25%;
}
.q-prev {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #333;
    cursor: context-menu;
    background: #F0F0EF;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    left: 15px;
}
.choose-quantity tr td input {
    border: none;
}
.quantity {
    width: 35px;
    color: #2a2a2a;
    height: 30px;
    text-align: center;
    cursor: context-menu;
}
.q-next {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #333;
    cursor: context-menu;
    background: #F0F0EF;
    border-radius: 50%;
}

.newsletter-button-r1z-cart-buynow{position:relative;z-index:1;overflow:hidden;
    border:1px solid #2BBEF9;transition:color .5s ease-in-out;display:flex;justify-content:center;height:50px}

.newsletter-button-r1z-cart-buynow::before{content:'';position:absolute;
top:0;left:-50px;bottom:0;right:0;
border-left:50px solid transparent;transform:translateX(0);
z-index:-1;box-sizing:border-box;transition:.5s ease-in-out;border-top:50px solid #2BBEF9}

.newsletter-button-r1z-cart-buynow a{color:#fff;text-transform:uppercase}

.newsletter-button-r1z-cart-buynow button{background:none;border:none;height:100%;width:100%; color: #fff;}

.newsletter-button-r1z-cart-buynow:hover{color:#fff;background:#86ba09;border:none}

.newsletter-button-r1z-cart-buynow:hover::before{transform:translateX(100%)}

.newsletter-button-r1z-cart::after
{
    position: absolute;
    left: 20px;
    top: 1px;
    font-family: FontAwesome;
    content: "\f07a";
    color:#2BBEF9;
    font-size: 20px;
}

.newsletter-button-r1z-cart {

    position: relative;

    z-index: 1;

    overflow: hidden;

    background-color: transparent;

    transition: color .5s ease-in-out;

    display: block;

    justify-content: center;

    align-items: center;

    height: 50px;

    font-weight: 500;

    border-radius: 0;

    outline: none;

    color: #2BBEF9;

    text-align: center;

    line-height: 50px;
    border: 1px solid #2BBEF9;

}.newsletter-button-r1z-cart::before{content:'';position:absolute;top:0;

left:-50px;bottom:0;right:0;border-left:50px solid transparent;

border-top:50px solid #fff;transform:translateX(0);z-index:-1;box-sizing:border-box;transition:.5s ease-in-out}

.newsletter-button-r1z-cart a{color:#2BBEF9;height: 100%;

    width: 100%;

    display: block;}

.newsletter-button-r1z-cart:hover{color:#fff;background:#2BBEF9;cursor:pointer}

.newsletter-button-r1z-cart:hover::before{transform:translateX(100%)}

.newsletter-button-r1z-cart a:hover{ color: #fff; }

.detal-link {

    margin: 6px 0;

}

.newsletter-button-r1z-cart-buynow button.focus,.newsletter-button-r1z-cart-buynow button:focus,.newsletter-button-r1z-cart-buynow button:hover{color:#fff}

.grid-comment .node-commnet{border-bottom:1px solid #d0d0d0;padding:20px 0}

.grid-comment .node-commnet:last-child{border-bottom:none}
.grid-comment .node-commnet .avatar img
{
    border-radius: 50%;
    max-width: 45px;
    max-height: 45px;
}
.grid-comment .node-commnet .avatar{float:left;position:relative;width:45px;height:45px;

    border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#00a0ff}

.grid-comment .node-commnet .avatar .yotpo-user-letter{background:transparent!important;position:absolute;top:10px;width:100%;min-width:100%;left:0;text-align:center;font-size:20px;color:#fff}

.grid-comment .node-commnet .avatar .yotpo-icon-circle-checkmark{display:inline-block;color:#1cc286}

.grid-comment .node-commnet .info-comment{margin-left:60px;position:relative}

.grid-comment .node-commnet .info-comment .content-title{font-size:16px;color:#000;font-weight:600;line-height:30px;padding-bottom:5px}

.d_star{margin:15px 0}

.i_star{max-height:23px;margin-top:-5px}

.grid-comment .node-commnet .info-comment .info-preson{font-size:12px;line-height:25px;color:#7c7c7c}

.grid-comment .node-commnet .info-comment .info-preson .rating-container{margin:0 0 15px}

.grid-comment .node-commnet .info-comment .info-preson .email .starrr{display:inline-block}

.grid-comment .node-commnet .info-comment .info-preson .email .starrr .glyphicon-star{color:#333;font-size:16px;margin-right:5px;margin-bottom:20px}

[class^="iconcom-"],[class*="iconcom-"]{background-image:url(../images/icon/commentmobile@2x.png);background-size:270px 128px;background-repeat:no-repeat;display:inline-block;height:30px;width:30px;line-height:30px;vertical-align:middle}

.sttB{cursor:pointer;color:#5a5858;font-size:13px;font-weight:400}

.iconcom-checkbuy{background-size:100% 100%;background-repeat:no-repeat;display:inline-block;height:15px;width:15px;vertical-align:middle;margin:-4px 4px 0 0}

.grid-comment .node-commnet .info-comment .info-preson .name{padding-bottom:5px;font-size:14px;color:#6A6C77;font-weight:400}

.grid-comment .node-commnet .info-comment .linkanswer{margin-bottom:10px;text-align:right;font-size:12px;line-height:24px;font-weight:700;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a{position:relative;display:inline-block;padding-right:12px;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a:hover{text-decoration:underline}

.grid-comment .node-commnet .info-comment .linkanswer a:after{position:absolute;font-family:"fontawesome";content:"\f054";top:2px;right:0;color:#263415;font-size:7px}

.listanswer .nodeanswer{background-color:#ddd;margin-bottom:1px;padding:10px}

.grid-comment .node-commnet .info-comment .info-preson .name .i-confirm{padding-left:30px;position:relative}

.grid-comment .node-commnet .info-comment .info-preson .name 

.i-confirm::after{content:"\f058";position:absolute;font-family:"FontAwesome";

bottom:-5px;left:12px;color:#00a3ff;font-size:15px;font-weight:600}
.timer_comment {
    float: right;
    position: absolute;
    right: 0;
    top: 0px;
}
.grid-comment
{
    background: #fff;
    padding: 5px 15px 15px;
    margin-top: 25px;
}
/*===================END PRODUCT - DETAIL =======---------------*/



@media screen and (max-width: 1024px) {
   .wap-product-content
   {
    padding-left: 0px !important;
    padding-right: 0px !important;
   }
   .q-prev
   {
    left: 0px;
   }
   #slider-thumbnail .item
   {
    height: 87px;
   }
   .product-best-seller
   {
     padding-left: 0px !important;
    padding-right: 0px !important;
   }
   .grid-selling
   {
    margin-right: -15px;
    margin-left: -15px;
   }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 320px) {
}